html{
  overflow: hidden;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@keyframes leFadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
  }
}
@keyframes leFadeInRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
  }
}
@keyframes leFadeInTop {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
  }
}
@keyframes leFadeInBottom {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
  }
}

@keyframes leFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --num: 1;
}

@keyframes scroll-horizontal{
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

video{
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed !important;
  z-index: -1 !important;
  opacity: .16;
}

body {
  font-family: "Quicksand", sans-serif;
  position: relative !important;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden !important;
}


.preloader {
  z-index: 999;
  width: 100% !important;
  height: 100dvh !important;
  position: fixed;
  background-color: #F2F3F7;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }
 
 .text {
  font-size: 2rem !important;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #2c98f0;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;

 }
 
 .pr-progress-bar {
  width: 25%;
  min-width: 150px;
  height: 15px !important;
  background-color: #c2c2c2a5 !important;
  margin: 0 auto;
 }
 
 .pr-progress {
  width: 0;
  height: 100% !important;
  background-color: #55aaff !important;
 }

 

 /*preloader end  */

#primary-heading {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

#sec-heading {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: #848484;
}

.main {
  position: relative !important;
  display: flex;
  width: 100%;
  height: auto;
  /* flex-direction: row; */
  align-items: center;
  justify-content: flex-end;
  transition: all 0.8s ease;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #c2c2c2a8;
  outline: 1px solid #8d8d8d;
}

.header {
  margin-left: 10vw;
  padding: 0 3rem;
  height: 100vh;
  width: 20vw !important;
  background-color: #f2f3f7;
  top: 0;
  left: 0;
  position: fixed;
  flex-direction: column;
  justify-content: center !important;

}

.logo > img {
  height: 10vw;
  width: 10vw;
}
.logo h2 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
}
.logo h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #2c98f0;
  text-align: center !important;
  letter-spacing: 0.8px;
  line-height: 1.8em;
  animation-delay: 600ms;
}

nav button{
  display: none;
}
.nav-links-mobile{
  display: none;

}

.nav-links ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  animation-delay: 900ms;
  padding: 0;
}

.nav-links ul li {
  display: flex !important;
  flex-direction: column !important;
  row-gap: 30px !important;
}

.nav-links ul li a {
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 500;
  color: #4f4f4f !important;
  text-decoration: none;
  letter-spacing: 2.5px;
  transition: color 0.8s ease;
  display: block;
}

.nav-links ul li a:hover,
.nav-links ul li a.active {
  color: #2c98f0;
}

.nav-links ul li a::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #2c98f0;
  transition: width 0.3s ease;
  margin-top: 5px;
}

.nav-links ul li a:hover::after,
.nav-links ul li a.active::after {
  width: 100%;
  color: #2c98f0 !important;
}
.nav-links ul li a:hover + .cursor{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


/* .nav-links ul li a::after {
  justify-content: center !important;
  content: "";
  background-color: #2C98F0;
  position: absolute;
  margin: 20px 0px 0px -60px;
  height: 1.5px;
  width: 50%;
} */

.main-div {
  max-width: 100%;
  position: relative;
}
.page {
  display: none;
  padding: 20px;
  position: relative;
  max-width: 65vw;
  height: auto;
  margin: 0 !important;
  padding-right: 10vw;
}
.page.active {
  display: block;
}


.page1 {
  position: relative !important;
  padding-bottom: 50px;
  height: 100vh;
  /* animation: leFadeInLeft 4s;
  transition-timing-function: cubic-bezier(0.1, 0.8, 1.7, 0.9); */

}

.page1 > div :nth-child(2) {
  padding-top: 160px !important;
}
.page1 > div > h1 {
  font-family: "Playfair Display", serif;
  font-size: 52px;
  font-weight: 700;
}

.page1 > div :nth-child(3) {
  padding-bottom: 12px;
  animation-delay: 300ms;
  
}

.page1 > div > h4 {
  font-size: 18px;
  padding-bottom: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #747474;
  animation-delay: 5s;
}

.page1 > div > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #747474;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 10px;
  border: 1.5px solid #848484;
  letter-spacing: 1.5px;
  width: 12vw;
  text-align: center;
  animation-delay: 900ms;
}
.page1 .page1-innerChild1 {
  height: 100vh;
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  gap: 8px;
}
.page1 .page1-innerChild1 img {
  overflow: hidden !important;
  position: absolute;
  width: auto;
  height: 100vh;
  left: 50%;
}
.page1 .page1-innerChild2 {
  display: none;
}

/* page 2 */
.page2{
  *{
    animation: leFadeInLeft 2s;
    transition-timing-function: cubic-bezier(0.1, 0.8, 1.7, 0.9);
  
  }
}
.page2 p, #tertary-heading {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 100% !important;
  font-family: "Quicksand", Arial, sans-serif;
  line-height: 1.8;
  color: #000000cc;
  animation-delay: 300ms;
}
.page2 p span {
  color: #393939;
  font-weight: 600;
  animation-delay: 600ms;
}
.page2 h4 {
  padding-bottom: 24px;
  animation-delay: 900ms;
}

/* cards */

.cards {
  padding-top: 1.8rem;
}
.card {
  min-width: 12rem !important;
  /* padding: 20px 20px !important; */
  height: 150px !important;
}
.card p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
}
.cards img {
  width: 28px;
  padding-bottom: 20px;
}

.card {
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 30px;
  padding: 1.5em;
  -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #2c98f0 !important;
}

#card1 {
  border-color: #2c98f0 !important;
}

#card2 {
  border-color: #ec5453 !important;
}

#card3 {
  border-color: #f9bf3f !important;
}

#card4 {
  border-color: #a84cb8 !important;
}

.call-to-action {
  margin-top: 20px;
  padding: 36px 28px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
  background-color: #f9bf3f;
}
.call-to-action a {
  text-decoration: none;
  margin-top: 24px !important;
  border: 2px solid #0e0e0e;
  background-color: transparent;
  color: #0f0f0f;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Quicksand";
  transition: all 0.4s ease;
}
.call-to-action a:hover {
  background-color: #f2f3f7;
  box-shadow: 0px 0px 56px -8px rgba(195, 195, 195, 0.46);
}

/* page3 */

:root {
  --blue: #2c98f0;
  --red: #ec5453;
  --yellow: #f9bf3f;
  --purple: #a84cb8;
  --green: #2fa499;
  --dark-blue: #4054b2;
}

.container {
  position: relative;
  margin: 20px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.hexagon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  top: -19.5%;
  left: 25%;
  position: absolute;
  width: 110px;
  height: 100px; /* width*√3/2 */
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: rotate(-90deg);
}

.hexagon img {
  transform: rotate(90deg);
  margin-right: 12px;
  position: relative;
  z-index: 9999;
  width: 40px;
  filter: brightness(8);
}

.hexagon-1 {
  background: var(--blue);
}

.hexagon-2 {
  background: var(--red);
}

.hexagon-3 {
  background: var(--yellow);
}

.hexagon-4 {
  background: var(--purple);
}

.hexagon-5 {
  background: var(--green);
}
.hexagon-6 {
  background: var(--dark-blue);
}

.services-cards {
  padding-top: 5rem;
}

.container {
  height: 17rem !important;
  width: 15rem !important;
}
.container img {
  margin-right: -2px;
  margin-top: -2px;
}

.container h3 {
  left: 0;
  text-align: center ;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2em;
}
.container p {
  text-align: center ;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8em;
  color: rgba(0, 0, 0, 0.7);
}

.stats {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(/assets/images/cover_bg_1.jpg.webp) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 30px 0 !important;
  padding: 92px 0px;
}
.black-div {
  background-color: #0f0f0f;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
}
.stats-card{
  z-index: 999;
}
.stats-card-body {
  z-index: 9999 !important;
}
.stats-card-title {
  color: #ffffff;
  font-size: 48px;
  z-index: 999 !important;
}
.stats-card-text {
  color: #dbdbdb;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 9999 !important;
  letter-spacing: 2px;
}

.page5 {
  position: relative;
  min-height: auto !important;
  margin: 0 !important;
}


.progress {
  height: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f2f3f7;
  overflow: visible;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar.color-1 {
  background: #2c98f0;
}
.progress-bar {
  background: #2c98f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/* .works-tab{
  height: 100vh !important;
} */
.work-card{
  height: 300px !important;
  width: 350px !important;
  position: relative;
  padding: 30px 40px;
  background: #2c98f0 ;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;


}
/* .work-card:hover{
  .desc{
    opacity: 1;
  }
} */


.desc{
  background: #2c98f0;
  position: absolute;
  padding: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;



  *{
    transition:all  .4s ease !important;


  }
}

.work-card img{
  height: 20px;
  opacity: 0;
  align-self: flex-end !important;
}
 .desc h3 {
  font-size: 18px !important;
  transform: translate(0px, -30px) !important;
  opacity: 0;
}

.desc p{
  font-size: 14px;
  color: #e6e6e6;
  transform: translate(0px, 30px) !important;
  opacity: 0;
}

.work-card{

  -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  background-position: start center;
  background-size: cover;



  .desc a{
    color: #333333;
    padding: 8px 10px !important;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }


  &:hover {
    .desc{
      opacity: 1;
    }
  
    .desc a, .desc h3 , .desc p{
      transform: translate(0px, 0px) !important;
    }

    .desc a img{
      opacity: 1 !important;
    }
     .desc h3 {
      transform: translate(0px, 0px) !important;
      opacity: 1;
    }
    
    .desc p{
      transform: translate(0px,0px) !important;
      opacity: 1 ;
    }
  }
}


.work-card h3{
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  margin-bottom: 15px;
}



#web-design-card1{
  background-image: url(/assets/images/5.png);

}

#web-design-card2{
  background-image: url(/assets/images/3.png); 
}

#web-design-card3{
  background-image: url(/assets/images/img-1.jpg.webp); 
}

#web-design-card4{
  background-image: url(/assets/images/img-1.jpg.webp); 
}

#wordpress1{
  background-image: url(/assets/images/4.png); 
}
#wordpress2{
  background-image: url(/assets/images/7.png); 
}
#wordpress3{
  background-image: url(/assets/images/6.png); 
}

#wordpress4{
  background-image: url(/assets/images/2.png); 
}
#wordpress5{
  background-image: url(/assets/images/1.png); 
}




.tab-pane{
  gap: 30px;
  min-height: 100vh;
  max-height: 100%;
}

.nav-tabs button{
  border: none !important;
}
.nav-tabs {
  border: none !important;
}

.nav-tabs button  {
  color: #565656;
 }
 .nav-tabs .nav-link.active  {
  color: #2c98f0 !important;
  font-weight: 400;
 }
 .nav-tabs .nav-link{
  padding-left: 0 !important;
  padding-right: 24px ;
 } 



 .page6{
  min-height: 100vh !important;
  
 }


 #contact-icon{
  width: 36px ;

 }
 .contact-icon-box{
  background-color: #F2F3F7;
  height: 90px !important;
  max-width: 90px !important;
 }
 .card-title a{
  font-family: "Quicksand", Arial, sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
 }
 .card-title a:hover{
  color:#2c98f0;
 }

 /* #tel{
  letter-spacing: 3px;
 } */

 .contact-box{
  position: relative;
  width: 60vw !important;
 }
.form-div{
  position: relative !important;
}
 .form-control{
  position: relative;
  width: 100%;
  overflow-x: hidden;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
  background: #f2f3f7 !important;
  height: 54px !important;
  font-size: 16px !important;
  font-weight: 400;    

  transition: 0.3s;
 }
input::placeholder, textarea::placeholder{
  color: #a3a3a3 !important;
}
 .form-group{
  margin-bottom: 30px 
 }

 input[type=submit],  .contact-confirm a{
  border-radius: 0 !important;
  background-color: #2c98f0;
  color: #f7f7f7;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 12px;
  border: none;
  padding: 10px 14px;
  transition: all .4s ease;
 }

 input[type=submit]:hover,  .contact-confirm a:hover{
  background-color: #53adf6;
 }

 .contact-confirm{

  text-align: center;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999 !important;
  transform: translate(0, 15vh);
  width: 550px;
  height: 500px;
  background-color: #f2f3f7e7;
  -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #2c98f0 !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
 }
 .contact-confirm.hidden{
  display: none !important;
 }
 .contact-confirm.visible{
  display: block !important;
 }

 .contact-confirm h1{
  font-size: 28px !important;
  margin-top: 20px;
 }
 #sec-heading{
  font-size: 12px;
  letter-spacing: 2px;
  line-height:2em;
  margin-top: 10px;
 }


 /* Responsive */

#menu-icon,
#close-icon {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  display: none;
  position: relative;
  right: 5%;
}
#check {
  display: none;
}


@media (max-width: 768px) {

 /*preloader end  */

 #primary-heading {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

#sec-heading {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #848484;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  /* flex-direction: row; */
  align-items: center;
  flex-direction: column !important;
  transition: all 0.6s ease;
}


.header {
  margin: 0;
  padding: 16px 10px !important;
  height: 100%;
  justify-content: center !important;
  width: 100% !important;
  position: relative;
  flex-direction: column;
}
nav button{
  position: absolute;
  top: 1rem;
  left: 16px;
  display: inline-flex;
  border: none;
}
nav button img {
  z-index: 99999;
  height: 30px;
  width: 30px;
}
.nav-links{
  display: none;
}
.nav-links-mobile{
  position: absolute;
  display: none ;
  left: 0;
  background-color: #F2F3F7 !important;
  padding: 20px 50px;
  top: 0;
  width: 0;

}

.nav-links-mobile.active{
  display: flex !important;
  width: 50%;
  transition: all ease .4s;
}

.nav-links-mobile ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  animation-delay: 900ms;
  padding: 0;
}

.nav-links-mobile ul li {
  display: flex !important;
  flex-direction: column !important;
  row-gap: 30px !important;
}

.nav-links-mobile ul li a {
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 500;
  color: #4f4f4f !important;
  text-decoration: none;
  letter-spacing: 2.5px;
  transition: color 0.8s ease;
  display: block;
}


.main-div {
  max-width: 100%;
  position: relative;
}
.page {
  display: none;
  padding: 20px !important;
  position: relative;
  max-width: 100%;
  height: 100vh !important;
  padding-right: 0;
}
.page.active {
  display: block;
}

.page1 {
  height: 80vh !important;
  padding-top: 4rem;
  position: relative;
  padding-bottom: 20px;
  justify-content: start !important;
}

.page1 > div > h1 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 700;
}

.page1 > div :nth-child(3) {
  padding-bottom: 12px;
  animation-delay: 300ms;
  
}
.page1 > div :nth-child(2) {
  padding-top: 16px !important;
}

.page1 > div > h4 {
  font-size: 12px;
}

.page1 > div > a {
  font-size: 14px;
  font-weight: 400;
  padding: 6px 8px;
  width: 180px;
  text-align: center;
}
.page1 .page1-innerChild1 {
  display: flex !important;
  flex-direction: column !important;
  gap: 6px;
  animation-delay: 1200ms;
}
.page1 .page1-innerChild1 img {
  position: absolute;
  left: 10vw;
  height: 400px;
  bottom: 0;
  z-index: -1;
}
.page1 .page1-innerChild2 {
  display: none;
}

/* page 2 */
.page2{
  position: relative;
  padding:0 12px;
  min-height: auto !important;
}

.page2 p, #tertary-heading {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 100% !important;
  font-family: "Quicksand", Arial, sans-serif;
  line-height: 1.8;
  color: #000000cc;
  animation-delay: 300ms;
}
.page2 p span {
  color: #393939;
  font-weight: 600;
  animation-delay: 600ms;
}
.page2 h4 {
  padding-bottom: 24px;
  animation-delay: 900ms;
}

.page2 .cards{
  flex-wrap: wrap;
}

.cards {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  overflow:  scroll !important;
  width: 100%;
  overflow: hidden;
  padding-top: 1rem;

}
.card {
  min-width: 8rem !important;
  /* padding: 20px 20px !important; */
  height: 120px !important;
}
.card p {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
}
.cards img {
  width: 24px;
  padding-bottom: 12px;
}

.card {
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 20px;
  padding: 1em;
}


.call-to-action {
  margin-top: 12px;
  padding: 24px 18px;

}
.call-to-action h3{
  font-size: 16px !important;
}
.call-to-action a {
  text-decoration: none;
  margin-top: 20px !important;
  border: 2px solid #0e0e0e;
  font-size: 12px;
  padding: 4px 16px;
}

/* page3 */

.page3{
  height: auto !important;
  margin-top: 60px;
  overflow-y:  scroll;
}

.container {
  position: relative;
  margin: 12px;
  margin-top: 20px;
  display: flex;
flex-wrap: nowrap !important;
  gap: 10px 10px !important;
}

.hexagon {
  display: none !important;
  align-items: center;
  justify-content: center;
  top: -19.5%;
  left: 20%;
  position: absolute;
  width: 80px;
  height: 60px; /* width*√3/2 */

}

.hexagon img {
  transform: rotate(90deg);
  margin-right: 12px;
  position: relative;
  z-index: 9999;
  width: 20px;
  filter: brightness(8);
}


.services-cards {
  justify-content: flex-start !important;
  padding-top: 1rem;
}

.container {
  padding: 10px 14px !important;
  min-height: 180px!important;
  min-width: 100% !important;
  justify-content: left;
  align-items: start !important;
  margin: 0 !important;
}
.container img {
  margin-right: -2px;
  margin-top: -2px;
}

.container h3 {
  left: 0;
  align-self: flex-start;
  text-align: left !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;

}
.container p {
  text-align: left !important;
  font-size: 12px;
}

.stats {
  overflow-x: scroll;
  height: 200px;
  margin: 30px 0 !important;
  padding: 40px 12px;
}
.black-div {
  background-color: #0f0f0f;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 200px;
  opacity: 0.3;
  z-index: 1;
}
.stats-card{
  z-index: 999;
}
.stats-card-body {
  z-index: 9999 !important;
}
.stats-card-title {
  color: #ffffff;
  font-size: 48px;
  z-index: 999 !important;
}
.stats-card-text {
  color: #dbdbdb;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 9999 !important;
  letter-spacing: 2px;
}

.page5{
  height: auto !important;
}
.contact-box{
  margin: 0 !important;
}

#contact-icon{
  width: 16px ;

 }
 .contact-icon-box{
  background-color: #F2F3F7;
  height: 40px !important;
  max-width: 40px !important;
 }
 .card-title a{
  font-family: "Quicksand", Arial, sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
 }
 .card-title a:hover{
  color:#2c98f0;
 }

 /* #tel{
  letter-spacing: 3px;
 } */

 .page6{
  height:auto !important;
 }

 .contact-box{
  position: relative;
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
 }
 .contact-form-cont{
  margin: 0 !important;
  padding-top: 20px;
 }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */





/* animation */

.scroller {
  max-width: 900px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 0%,
    white 5%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}



.c-cursor {
  display: none;
}

@media (any-pointer: fine) {
  .c-cursor {
    display: block;
  }

  .c-cursor__inner {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
  }

  .c-cursor__side {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: #fff;
    opacity: 0;
  }

  .c-cursor__side--left {
    right: calc(100% + 5px);
  }

  .c-cursor__side--right {
    left: calc(100% + 5px);
  }

  .c-cursor__inner--circle {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
  }
}





